#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    width: 80%;
    height: auto;
}
h1{
    font-family: Montserrat,sans-serif;
}
#red-text{
    color: rgb(197, 57, 57);

}
.centre{
    text-align: center;
}
